######################################
## ~~~ Beeper ~~~~~~~~~~~~~~~~~~~~~ ##
######################################

# M300 : Play tone. Beeper support, as commonly found on usual LCD
# displays (i.e. RepRapDiscount 2004 Smart Controller, RepRapDiscount
# 12864 Full Graphic). This defines a custom I/O pin and a custom
# GCODE macro.  Usage:
#   M300 [P<ms>] [S<Hz>]
#   P is the tone duration, S the tone frequency.
# The frequency won't be pitch perfect.

[output_pin BEEPER_pin]
pin: PC9
pwm: True #   A piezo beeper needs a PWM signal, a DC buzzer doesn't.
value: 0 #   Silent at power on, set to 1 if active low.
shutdown_value: 0 # Disable at emergency shutdown (no PWM would be available anyway).
cycle_time: 0.001 # PWM frequency : 0.001 = 1ms will give a base tone of 1kHz
scale: 1000 # PWM parameter will be in the range of (0-1000 Hz).

[gcode_macro M300]
gcode:
    {% set S_VAL = params.S|default(440)|int %} # Use a default 440 Hz tone if S is omitted.
    {% set P_VAL = params.P|default(50)|int %} # Use a 50ms duration is P is omitted.
    SET_PIN PIN=BEEPER_pin VALUE={S_VAL}
    G4 P{P_VAL}
    SET_PIN PIN=BEEPER_pin VALUE=0

[gcode_macro BEEPER_ALERT]
gcode:
    M300
    G4 P750
    M300
    G4 P750
    M300 P750
    G4 P750
    