######################################
## FYSETC Hotkey #####################
######################################

[gcode_button hotkey_b1]
pin: ^!hotkey:gpio2
press_gcode: HOTKEY_BUTTON_1

[gcode_button hotkey_b2]
pin: ^!hotkey:gpio3
press_gcode: HOTKEY_BUTTON_2

[gcode_button hotkey_b3]
pin: ^!hotkey:gpio4
press_gcode: HOTKEY_BUTTON_3

[gcode_button hotkey_b4]
pin: ^!hotkey:gpio5
press_gcode: HOTKEY_BUTTON_4

[gcode_button hotkey_b5]
pin: ^!hotkey:gpio6
press_gcode: HOTKEY_BUTTON_5

[gcode_button hotkey_b6]
pin: ^!hotkey:gpio7
press_gcode: HOTKEY_BUTTON_6

[gcode_button hotkey_b7]
pin: ^!hotkey:gpio8
press_gcode: HOTKEY_BUTTON_7

[gcode_button hotkey_b8]
pin: ^!hotkey:gpio9
press_gcode: HOTKEY_BUTTON_8

[gcode_button hotkey_b9]
pin: ^!hotkey:gpio10
press_gcode: HOTKEY_BUTTON_9

[gcode_button hotkey_b10]
pin: ^!hotkey:gpio11
press_gcode: HOTKEY_BUTTON_10

[gcode_button hotkey_b11]
pin: ^!hotkey:gpio12
press_gcode: HOTKEY_BUTTON_11

[gcode_button hotkey_b12]
pin: ^!hotkey:gpio13
press_gcode: HOTKEY_BUTTON_12