# Stealthburner LEDs with rainbow barf logo and two nozzle RGBW LEDs
[neopixel sb_leds]
pin: PD3
chain_count: 10
color_order: GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRBW, GRBW
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

# Neopixel RGB LEDs in mini12864 display
[neopixel fysetc_mini12864]
pin: PC12
chain_count: 3
initial_RED: 1.0
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: RGB

# Neopixel RGB LEDs caselights
[neopixel caselight]
pin: PB14
chain_count: 24
initial_RED: 1.0
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: GRB

# Indicates printer is ready
[delayed_gcode set_neopixels_ready]
initial_duration: 1
gcode:
        STATUS_READY

##########################
# LED Effects Animations #
##########################

##################
## logo effects ##
##################

[led_effect sb_logo_busy]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1-8)
layers:
    breathing  3 1 top (1,0,0)

[led_effect sb_logo_cleaning]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1-8)
layers:
    breathing  3 1 top (0.0, 0.02, 0.5)

[led_effect sb_logo_calibrating_z]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1-8)
layers:
        breathing  3 1 top (0.0, 0.0, 0.35)

[led_effect sb_logo_heating]
leds:
    neopixel:sb_leds (1,3,7,8,6,2)
autostart:                          false
frame_rate:                         24
layers:
    comet  0.3  0 add (1, 0.18, 0)

[led_effect sb_logo_cooling]
leds:
    neopixel:sb_leds (1,3,7,8,6,2)
autostart:                          false
frame_rate:                         24
layers:
    comet  0.3  0 add (0, 0, 1)

[led_effect sb_logo_homing]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1-8)
layers:
        breathing  3 1 top (0.0, 0.6, 0.2)

[led_effect sb_logo_leveling]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1-8)
layers:
        breathing  3 1 top (0.5, 0.1, 0.4)

[led_effect sb_logo_meshing]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1-8)
layers:
        breathing  3 1 top (0.2, 1.0, 0.0)

[led_effect sb_logo_printing]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1-8)
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.3, 0.3, 0.0),(0.3, 0.1, 0.0)

[led_effect sb_logo_standby]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1-8)
layers:
        breathing  3 1 top (0.01, 0.01, 0.01)

[led_effect sb_logo_part_ready]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1-8)
layers:
        breathing  3 1 top (0.0, 1.0, 0.0)

####################
## nozzle effects ##
####################

[led_effect sb_nozzle_heating]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (9,10)
layers:
        breathing  3 1 top (1.0, 0.18, 0.0, 0.0)

[led_effect sb_nozzle_cooling]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (9,10)
layers:
        breathing  3 1 top (0.0, 0.0, 1.0, 0.1)

[led_effect sb_nozzle_standby]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (9,10)
layers:
        breathing  3 1 top (0.6, 0.0, 0.0, 0.0)

[led_effect sb_nozzle_part_ready]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (9,10)
layers:
        breathing  3 1 top (0.6, 1.0, 0.0, 0.1)

##################
## display effects ##
##################

[led_effect display_busy]
autostart:              false
frame_rate:             24
leds:
    neopixel:fysetc_mini12864 (1)
layers:
    static  0 0 top (1,0,0)

[led_effect display_cleaning]
autostart:              false
frame_rate:             24
leds:
    neopixel:fysetc_mini12864 (1)
layers:
    static  0 0 top (0.0, 0.02, 0.5)

[led_effect display_calibrating_z]
autostart:              false
frame_rate:             24
leds:
    neopixel:fysetc_mini12864 (1)
layers:
    static  0 0 top (0.0, 0.0, 0.35)

[led_effect display_heating]
leds:
    neopixel:fysetc_mini12864 (1)
autostart:                          false
frame_rate:                         24
layers:
    static  0 0 top (1, 0.18, 0)

[led_effect display_cooling]
leds:
    neopixel:fysetc_mini12864 (1)
autostart:                          false
frame_rate:                         24
layers:
    static  0 0 top (0, 0, 1)

[led_effect display_homing]
autostart:              false
frame_rate:             24
leds:
    neopixel:fysetc_mini12864 (1)
layers:
    static  0 0 top (0.0, 0.6, 0.2)

[led_effect display_leveling]
autostart:              false
frame_rate:             24
leds:
    neopixel:fysetc_mini12864 (1)
layers:
    static  0 0 top (0.5, 0.1, 0.4)

[led_effect display_meshing]
autostart:              false
frame_rate:             24
leds:
    neopixel:fysetc_mini12864 (1)
layers:
    static  0 0 top (0.2, 1.0, 0.0)

[led_effect display_printing]
autostart:              false
frame_rate:             24
leds:
    neopixel:fysetc_mini12864 (1)
layers:
    static  0 0 top (0.75, 0.25, 0.75)

[led_effect display_standby]
autostart:              false
frame_rate:             24
leds:
    neopixel:fysetc_mini12864 (1)
layers:
    static  0 0 top (0.0, 1.0, 0.0)

[led_effect display_part_ready]
autostart:              false
frame_rate:             24
leds:
    neopixel:fysetc_mini12864 (1)
layers:
    static  0 0 top (0.0, 1.0, 0.0)

##################
## knob effects ##
##################

[led_effect knob_busy]
autostart:              false
frame_rate:             24
leds:
    neopixel:fysetc_mini12864 (2,3)
layers:
    breathing  3 1 top (1,0,0)

[led_effect knob_cleaning]
autostart:              false
frame_rate:             24
leds:
    neopixel:fysetc_mini12864 (2,3)
layers:
    breathing  3 1 top (0.0, 0.02, 0.5)

[led_effect knob_calibrating_z]
autostart:              false
frame_rate:             24
leds:
    neopixel:fysetc_mini12864 (2,3)
layers:
    breathing  3 1 top (0.0, 0.0, 0.35)

[led_effect knob_heating]
leds:
    neopixel:fysetc_mini12864 (2,3)
autostart:                          false
frame_rate:                         24
layers:
    breathing  3 1 top (1, 0.18, 0)

[led_effect knob_cooling]
leds:
    neopixel:fysetc_mini12864 (2,3)
autostart:                          false
frame_rate:                         24
layers:
    breathing  3 1 top (0, 0, 1)

[led_effect knob_homing]
autostart:              false
frame_rate:             24
leds:
    neopixel:fysetc_mini12864 (2,3)
layers:
    breathing  3 1 top (0.0, 0.6, 0.2)

[led_effect knob_leveling]
autostart:              false
frame_rate:             24
leds:
    neopixel:fysetc_mini12864 (2,3)
layers:
    breathing  3 1 top (0.5, 0.1, 0.4)

[led_effect knob_meshing]
autostart:              false
frame_rate:             24
leds:
    neopixel:fysetc_mini12864 (2,3)
layers:
    breathing  3 1 top (0.2, 1.0, 0.0)

[led_effect knob_printing]
autostart:              false
frame_rate:             24
leds:
    neopixel:fysetc_mini12864 (2,3)
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.3, 0.3, 0.0),(0.3, 0.1, 0.0)

[led_effect knob_standby]
autostart:              false
frame_rate:             24
leds:
    neopixel:fysetc_mini12864 (2,3)
layers:
    breathing  3 1 top (0.01, 0.01, 0.01)

[led_effect knob_part_ready]
autostart:              false
frame_rate:             24
leds:
    neopixel:fysetc_mini12864 (2,3)
layers:
    breathing  3 1 top (0.0, 1.0, 0.0)

##################
## caselight effects ##
##################

[led_effect caselight_busy]
autostart:              false
frame_rate:             24
leds:
    neopixel:caselight (1-12)
    neopixel:caselight (24-13)
layers:
    breathing  3 1 top (1,0,0)

[led_effect caselight_cleaning]
autostart:              false
frame_rate:             24
leds:
    neopixel:caselight (1-12)
    neopixel:caselight (24-13)
layers:
    breathing  3 1 top (0.0, 0.02, 0.5)

[led_effect caselight_calibrating_z]
autostart:              false
frame_rate:             24
leds:
    neopixel:caselight (1-12)
    neopixel:caselight (24-13)
layers:
        breathing  3 1 top (0.0, 0.0, 0.35)

[led_effect caselight_heating]
leds:
    neopixel:caselight (1-12)
    neopixel:caselight (24-13)
autostart:                          false
frame_rate:                         24
layers:
    comet  0.3  0 add (1, 0.18, 0)

[led_effect caselight_cooling]
leds:
    neopixel:caselight (1-12)
    neopixel:caselight (24-13)
autostart:                          false
frame_rate:                         24
layers:
    comet  0.3  0 add (0, 0, 1)

[led_effect caselight_homing]
autostart:              false
frame_rate:             24
leds:
    neopixel:caselight (1-12)
    neopixel:caselight (24-13)
layers:
        breathing  3 1 top (0.0, 0.6, 0.2)

[led_effect caselight_leveling]
autostart:              false
frame_rate:             24
leds:
    neopixel:caselight (1-12)
    neopixel:caselight (24-13)
layers:
        breathing  3 1 top (0.5, 0.1, 0.4)

[led_effect caselight_meshing]
autostart:              false
frame_rate:             24
leds:
    neopixel:caselight (1-12)
    neopixel:caselight (24-13)
layers:
        breathing  3 1 top (0.2, 1.0, 0.0)

[led_effect caselight_printing]
autostart:              false
frame_rate:             24
leds:
    neopixel:caselight (1-12)
    neopixel:caselight (24-13)
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.3, 0.3, 0.0),(0.3, 0.1, 0.0)

[led_effect caselight_standby]
autostart:              false
frame_rate:             24
leds:
    neopixel:caselight (1-12)
    neopixel:caselight (24-13)
layers:
        breathing  3 1 top (0.01, 0.01, 0.01)

[led_effect caselight_part_ready]
autostart:              false
frame_rate:             24
leds:
    neopixel:caselight (1-12)
    neopixel:caselight (24-13)
layers:
        breathing  3 1 top (0.0, 1.0, 0.0)

#####################
## all led effects ##
#####################

[led_effect sb_critical_error]
leds:
    neopixel:sb_leds
    neopixel:fysetc_mini12864 (2,3)
    neopixel:caselight
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true

[led_effect rainbow]
leds:
    neopixel:sb_leds
    neopixel:fysetc_mini12864 (2,3)
    neopixel:caselight (1-12)
    neopixel:caselight (24-13)
autostart:                          true
frame_rate:                         24
layers:
    gradient  0.5  1 add (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)

#######################
# LED Effects Statics #
#######################

[led_effect set_nozzle_leds]
leds:
    neopixel:sb_leds (9,10)
autostart:                          false
frame_rate:                         24
layers:
    static         0  0     top        (0.0,  0.0, 0.0, 1.0)

[led_effect set_logo_leds]
leds:
    neopixel:sb_leds (1,2,3,4,5,6,7,8)
autostart:                          false
frame_rate:                         24
layers:
    static         0  0     top        (1.0,  1.0, 1.0)

[led_effect set_display_leds]
leds:
    neopixel:fysetc_mini12864 (1)
autostart:                          false
frame_rate:                         24
layers:
    static         0  0     top        (1.0,  1.0, 1.0)

[led_effect set_knob_leds]
leds:
    neopixel:fysetc_mini12864 (2,3)
autostart:                          false
frame_rate:                         24
layers:
    static         0  0     top        (1.0,  1.0, 1.0)

[led_effect set_caselight_leds]
leds:
    neopixel:caselight (1-12)
    neopixel:caselight (24-13)
autostart:                          false
frame_rate:                         24
layers:
    static         0  0     top        (1.0,  1.0, 1.0)

##############
# The Macros #
##############

[gcode_macro set_logo_leds_off]
gcode:
    SET_LED_EFFECT EFFECT=set_logo_leds STOP=1

[gcode_macro set_logo_leds_on]
gcode:
    SET_LED_EFFECT EFFECT=set_logo_leds

[gcode_macro set_nozzle_leds_on]
gcode:
    SET_LED_EFFECT EFFECT=set_nozzle_leds

[gcode_macro set_nozzle_leds_off]
gcode:
    SET_LED_EFFECT EFFECT=set_nozzle_leds STOP=1

[gcode_macro set_display_leds_on]
gcode:
    SET_LED_EFFECT EFFECT=set_display_leds

[gcode_macro set_display_leds_off]
gcode:
    SET_LED_EFFECT EFFECT=set_display_leds STOP=1

[gcode_macro set_knob_leds_on]
gcode:
    SET_LED_EFFECT EFFECT=set_knob_leds

[gcode_macro set_knob_leds_off]
gcode:
    SET_LED_EFFECT EFFECT=set_knob_leds STOP=1

[gcode_macro set_caselight_leds_on]
gcode:
    SET_LED_EFFECT EFFECT=set_caselight_leds

[gcode_macro set_caselight_leds_off]
gcode:
    SET_LED_EFFECT EFFECT=set_caselight_leds STOP=1

[gcode_macro status_off]
gcode:
    STOP_LED_EFFECTS

[gcode_macro status_ready]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=rainbow
    SET_LED_EFFECT EFFECT=display_standby

[gcode_macro status_part_ready]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_nozzle_part_ready
    SET_LED_EFFECT EFFECT=sb_logo_part_ready
    SET_LED_EFFECT EFFECT=knob_part_ready
    SET_LED_EFFECT EFFECT=display_part_ready
    SET_LED_EFFECT EFFECT=caselight_part_ready

[gcode_macro status_busy]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_busy
    SET_LED_EFFECT EFFECT=knob_busy
    SET_LED_EFFECT EFFECT=display_busy
    SET_LED_EFFECT EFFECT=caselight_busy
    set_nozzle_leds_on

[gcode_macro status_heating]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_heating
    SET_LED_EFFECT EFFECT=sb_nozzle_heating
    SET_LED_EFFECT EFFECT=knob_heating
    SET_LED_EFFECT EFFECT=display_heating
    SET_LED_EFFECT EFFECT=caselight_heating

[gcode_macro status_cooling]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_cooling
    SET_LED_EFFECT EFFECT=sb_nozzle_cooling
    SET_LED_EFFECT EFFECT=knob_cooling
    SET_LED_EFFECT EFFECT=display_cooling
    SET_LED_EFFECT EFFECT=caselight_cooling

[gcode_macro status_leveling]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_leveling
    SET_LED_EFFECT EFFECT=knob_leveling
    SET_LED_EFFECT EFFECT=display_leveling
    SET_LED_EFFECT EFFECT=caselight_leveling
    set_nozzle_leds_on

[gcode_macro status_homing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_homing
    SET_LED_EFFECT EFFECT=knob_homing
    SET_LED_EFFECT EFFECT=display_homing
    SET_LED_EFFECT EFFECT=caselight_homing
    set_nozzle_leds_on

[gcode_macro status_cleaning]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_cleaning
    SET_LED_EFFECT EFFECT=knob_cleaning
    SET_LED_EFFECT EFFECT=display_cleaning
    SET_LED_EFFECT EFFECT=caselight_cleaning
    set_nozzle_leds_on

[gcode_macro status_meshing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_meshing
    SET_LED_EFFECT EFFECT=knob_meshing
    SET_LED_EFFECT EFFECT=display_meshing
    SET_LED_EFFECT EFFECT=caselight_meshing
    set_nozzle_leds_on

[gcode_macro status_calibrating_z]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_calibrating_z
    SET_LED_EFFECT EFFECT=knob_calibrating_z
    SET_LED_EFFECT EFFECT=display_calibrating_z
    SET_LED_EFFECT EFFECT=caselight_calibrating_z
    set_nozzle_leds_on

[gcode_macro status_printing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_printing
    SET_LED_EFFECT EFFECT=knob_printing
    SET_LED_EFFECT EFFECT=display_printing
    SET_LED_EFFECT EFFECT=caselight_printing
    set_nozzle_leds_on
    