######################################
## LCD Menu mods #####################
######################################

# disable octoprint LCD menu
[menu __main __octoprint]
type: disabled

# Temperature menu overrides
# gcode macros located in macros/preheat.cfg

# Cooldown mod
[menu __main __temp __cooldown_mod]
type: command
enable: {(printer['extruder'].target>0) or (printer['heater_bed'].target>0)} # only show if on
name: Cooldown
gcode:
    COOLDOWN

# Preheat ABS mod
[menu __main __temp __preheat_abs_mod]
type: command
name: Preheat ABS
gcode:
    PREHEAT_ABS

# Preheat Nylon
[menu __main __temp __preheat_nylon]
type: command
name: Preheat Nylon
gcode:
    PREHEAT_NYLON

# Preheat PC
[menu __main __temp __preheat_pc]
type: command
name: Preheat PC
gcode:
    PREHEAT_PC

# Preheat TPU
[menu __main __temp __preheat_tpu]
type: command
name: Preheat TPU
gcode:
    PREHEAT_TPU

# Preheat PETG
[menu __main __temp __preheat_petg]
type: command
name: Preheat PETG
gcode:
    PREHEAT_PETG

#Preheat PLA mod
[menu __main __temp __preheat_pla_mod]
type: command
name: Preheat PLA
gcode:
    PREHEAT_PLA

# disable standard menu items

[menu __main __temp __cooldown]
type: disabled

[menu __main __temp __preheat_abs]
type: disabled

[menu __main __temp __preheat_pla]
type: disabled
