# on SB CAN TH
[adxl345 sb_can_th]
cs_pin: sb_can_th:PB12
spi_software_sclk_pin: sb_can_th:PB13
spi_software_mosi_pin: sb_can_th:PB15
spi_software_miso_pin: sb_can_th:PB14
axes_map: -y,z,-x

# on cartographer
[adxl345 cartographer]
cs_pin: cartographer:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345 cartographer
# accel_chip: adxl345 sb_can_th
probe_points:
    150,150,20
