## Set Build plate-specific settings that can't be easily set in slicer or are printer specific
## 
[gcode_macro SET_BUILD_PLATE]
description: Set values based on build plate
gcode:
    {% set BUILD_PLATE = params.BUILD_PLATE|string %} ; Get build plate type
    {% if BUILD_PLATE == 'Textured PEI' %}
        SET_GCODE_OFFSET Z=0
        SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=scanner_touch_threshold VALUE={1250}
    {% elif BUILD_PLATE == 'BuildTak Nylon+' %}
        SET_GCODE_OFFSET Z=0
        SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=scanner_touch_threshold VALUE={printer.configfile.settings.scanner.scanner_touch_threshold} # config file default, please calibrate before using this surface!
    {% else %} ; defaults
        SET_GCODE_OFFSET Z=0
        SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=scanner_touch_threshold VALUE={printer.configfile.settings.scanner.scanner_touch_threshold} # config file default
    {% endif %}