#####################################################################
#      Cancel Print Macro
#####################################################################

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  {% set min_extrude_temp = printer.configfile.settings.extruder.min_extrude_temp %}
  M117 Cancelling...
  STATUS_BUSY # set LEDs
  SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout} ; set timeout back to configured value
  M104 S{min_extrude_temp+10} # set temp above min extrude temp
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={min_extrude_temp+5} # wait for extruder temp
  CLEAR_PAUSE
  END_PRINT
  CANCEL_PRINT_BASE
  M117 Print cancelled. # update display
  STATUS_READY # set LEDs
