#####################################################################
#      Chamber Heater Macros
#####################################################################

[gcode_macro M141]
description: Set chamber temperature and continue without waiting
gcode:
    {% set target_temp = params.S|default(0)|float %}
    SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET={target_temp}
    SET_TEMPERATURE_FAN_TARGET temperature_fan=chamber_exhaust TARGET={target_temp}

[gcode_macro M191]
description: Set chamber temperature and wait for the target to be reached
gcode:
    {% set target_temp = params.S|default(0)|float %}
    M141 S{target_temp}
    TEMPERATURE_WAIT SENSOR=chamber_temp MINIMUM={target_temp-1} MAXIMUM={target_temp+1}
    