# disable filament sensors on startup
[delayed_gcode DISABLE_SENSORS]
initial_duration: 1
gcode:
  SET_FILAMENT_SENSOR SENSOR=filament_switch ENABLE=0
  SET_FILAMENT_SENSOR SENSOR=filament_motion ENABLE=0