#####################################################################
#      Hotkey Macros
#####################################################################

[gcode_macro HOTKEY_BUTTON_1]
description: Hotkey Pause/Resume
gcode:
    # {action_respond_info("Hotkey button 2 pressed.")}
    {% if printer.idle_timeout.state == "Printing" %}
        {% if printer['pause_resume'].is_paused|int == 0 %}
            PAUSE
        {% elif printer['pause_resume'].is_paused|int == 1 %}
            RESUME
        {% endif %}
    {% endif %}

[gcode_macro HOTKEY_BUTTON_2]
description: Hotkey Purge
gcode:
    # {action_respond_info("Hotkey button 2 pressed.")}
    {% if printer.idle_timeout.state != "Printing" %}
        SAVE_GCODE_STATE NAME=HOTKEY_PURGE
        M83 # relative extrusion
        G1 E8 F120
        G1 E-2 F600
        RESTORE_GCODE_STATE NAME=HOTKEY_PURGE
    {% endif %}

[gcode_macro HOTKEY_BUTTON_3]
description: Hotkey Clean Nozzle
gcode:
    # {action_respond_info("Hotkey button 3 pressed.")}
    {% if printer.idle_timeout.state != "Printing" %}
        STATUS_CLEANING
        CLEAN_NOZZLE
        STATUS_READY
    {% endif %}

[gcode_macro HOTKEY_BUTTON_4]
description: Hotkey Move Plate Down
gcode:
    # {action_respond_info("Hotkey button 4 pressed.")}
    {% if printer.idle_timeout.state != "Printing" %}
        {% if "z" in printer.toolhead.homed_axes %} # homed
            SAVE_GCODE_STATE NAME=HOTKEY_MOVE_DOWN
            G90
            G0 Z10 F600
            RESTORE_GCODE_STATE NAME=HOTKEY_MOVE_DOWN MOVE=0
        {% else %} # not homed (may require [force_move] section)
            G90
            SET_KINEMATIC_POSITION Z=0
            G0 Z10 F600
            M84
        {% endif %}
    {% endif %}

[gcode_macro HOTKEY_BUTTON_5]
description: Hotkey Steppers Off
gcode:
    # {action_respond_info("Hotkey button 5 pressed.")}
    {% if printer.idle_timeout.state != "Printing" %}
        M84
    {% endif %}

[gcode_macro HOTKEY_BUTTON_6]
description: Hotkey Bento Fan Toggle
gcode:
    # {action_respond_info("Hotkey button 6 pressed.")}
    {% if printer['fan_generic Bento_filter'].speed|float > 0 %}
        SET_FAN_SPEED FAN=Bento_filter SPEED=0
    {% else %}
        SET_FAN_SPEED FAN=Bento_filter SPEED=1
    {% endif %}
[gcode_macro HOTKEY_BUTTON_7]
description: Hotkey Home All
gcode:
    # {action_respond_info("Hotkey button 7 pressed.")}
    {% if printer.idle_timeout.state != "Printing" %}
        M117 Homing...
        STATUS_HOMING # set LEDs
        G28
        STATUS_READY
    {% endif %}

[gcode_macro HOTKEY_BUTTON_8]
description: Hotkey Preheat ABS
gcode:
    # {action_respond_info("Hotkey button 8 pressed.")}
    {% if printer.idle_timeout.state != "Printing" %}
        PREHEAT_ABS
    {% endif %}

[gcode_macro HOTKEY_BUTTON_9]
description: Hotkey Home XY
gcode:
    # {action_respond_info("Hotkey button 9 pressed.")}
        {% if printer.idle_timeout.state != "Printing" %}
        M117 Homing...
        STATUS_HOMING # set LEDs
        G28 XY
        STATUS_READY
    {% endif %}

[gcode_macro HOTKEY_BUTTON_10]
description: Hotkey Preheat PA
gcode:
    # {action_respond_info("Hotkey button 10 pressed.")}
    {% if printer.idle_timeout.state != "Printing" %}
        PREHEAT_NYLON
    {% endif %}

[gcode_macro HOTKEY_BUTTON_11]
description: Hotkey Z Tilt Adjust
gcode:
    # {action_respond_info("Hotkey button 11 pressed.")}
    {% if printer.idle_timeout.state != "Printing" %}
        M117 Bed levelling...
        STATUS_LEVELING # set LEDs
        Z_TILT_ADJUST # run 3 point bed leveling
        STATUS_READY
    {% endif %}

[gcode_macro HOTKEY_BUTTON_12]
description: Hotkey Cooldown All
gcode:
    # {action_respond_info("Hotkey button 12 pressed.")}
    {% if printer.idle_timeout.state != "Printing" %}
        COOLDOWN
    {% endif %}
