#####################################################################
#      Hotkey Macros
#####################################################################

[gcode_macro HOTKEY_BUTTON_1]
gcode:
    {action_respond_info("Hotkey button 1 pressed.")}

[gcode_macro HOTKEY_BUTTON_2]
description: Pause/Resume Hotkey
gcode:
    {action_respond_info("Hotkey button 2 pressed.")}
    {% if printer.idle_timeout.state == "Printing" %}
        {% if printer['pause_resume'].is_paused|int == 0 %}
            PAUSE
        {% if printer['pause_resume'].is_paused|int == 1 %}
            RESUME
        {% endif %}
    {% endif %}

[gcode_macro HOTKEY_BUTTON_3]
gcode:
    {action_respond_info("Hotkey button 3 pressed.")}

[gcode_macro HOTKEY_BUTTON_4]
gcode:
    {action_respond_info("Hotkey button 4 pressed.")}

[gcode_macro HOTKEY_BUTTON_5]
gcode:
    {action_respond_info("Hotkey button 5 pressed.")}

[gcode_macro HOTKEY_BUTTON_6]
gcode:
    {action_respond_info("Hotkey button 6 pressed.")}

[gcode_macro HOTKEY_BUTTON_7]
gcode:
    {action_respond_info("Hotkey button 7 pressed.")}

[gcode_macro HOTKEY_BUTTON_8]
gcode:
    {action_respond_info("Hotkey button 8 pressed.")}

[gcode_macro HOTKEY_BUTTON_9]
gcode:
    {action_respond_info("Hotkey button 9 pressed.")}

[gcode_macro HOTKEY_BUTTON_10]
gcode:
    {action_respond_info("Hotkey button 10 pressed.")}

[gcode_macro HOTKEY_BUTTON_11]
gcode:
    {action_respond_info("Hotkey button 11 pressed.")}

[gcode_macro HOTKEY_BUTTON_12]
gcode:
    {action_respond_info("Hotkey button 12 pressed.")}
