#####################################################################
#      Hotkey Macros
#####################################################################

[gcode_macro HOTKEY_BUTTON_1]
description: Hotkey Pause Resume
gcode:
    # {action_respond_info("Hotkey button 2 pressed.")}
    {% if printer.idle_timeout.state == "Printing" %}
        {% if printer['pause_resume'].is_paused|int == 0 %}
            PAUSE
        {% elif printer['pause_resume'].is_paused|int == 1 %}
            RESUME
        {% endif %}
    {% endif %}

[gcode_macro HOTKEY_BUTTON_2]
description: Hotkey Purge
gcode:
    # {action_respond_info("Hotkey button 2 pressed.")}
    {% if printer.idle_timeout.state != "Printing" %}
        SAVE_GCODE_STATE NAME=HOTKEY_PURGE
        M83 # relative extrusion
        G1 E10 F120
        G1 E-2 F600
        RESTORE_GCODE_STATE NAME=HOTKEY_PURGE
    {% endif %}

[gcode_macro HOTKEY_BUTTON_3]
description: Hotkey Clean Nozzle
gcode:
    # {action_respond_info("Hotkey button 3 pressed.")}
    {% if printer.idle_timeout.state != "Printing" %}
        STATUS_CLEANING
        CLEAN_NOZZLE
        STATUS_READY
    {% endif %}

[gcode_macro HOTKEY_BUTTON_4]
description: Hotkey Move Plate Down
gcode:
    # {action_respond_info("Hotkey button 4 pressed.")}
    {% if printer.idle_timeout.state != "Printing" %}
        {% if "z" not in printer.toolhead.homed_axes %} # not homed (requires [force_move] section and enable_force_move: True)
            G90 # absolute
            SET_KINEMATIC_POSITION Z=0
            G0 Z25 F1200
            M84 Z
        {% else %} # homed 
            SAVE_GCODE_STATE NAME=HOTKEY_MOVE_DOWN
            G91 # relative
            G0 Z25 F1200
            RESTORE_GCODE_STATE NAME=HOTKEY_MOVE_DOWN MOVE=0
        {% endif %}
    {% endif %}

[gcode_macro HOTKEY_BUTTON_5]
description: Hotkey Disable Steppers
gcode:
    # {action_respond_info("Hotkey button 5 pressed.")}
    {% if printer.idle_timeout.state != "Printing" %}
        M84
        STATUS_READY
    {% endif %}

[gcode_macro HOTKEY_BUTTON_6]
description: Hotkey Bento Fan Toggle
gcode:
    # {action_respond_info("Hotkey button 6 pressed.")}
    {% if printer['fan_generic Bento_filter'].speed|float > 0 %} # fan on
        SET_FAN_SPEED FAN=Bento_filter SPEED=0
        M117 Bento Fan ON
    {% else %} # fan off
        SET_FAN_SPEED FAN=Bento_filter SPEED=1
        M117 Bento Fan OFF
    {% endif %}

[gcode_macro HOTKEY_BUTTON_7]
description: Hotkey Home All
gcode:
    # {action_respond_info("Hotkey button 7 pressed.")}
    {% if printer.idle_timeout.state != "Printing" %}
        M117 Homing...
        STATUS_HOMING # set LEDs
        G28
        STATUS_READY
        M117
    {% endif %}

[gcode_macro HOTKEY_BUTTON_8]
description: Hotkey Preheat ABS
gcode:
    # {action_respond_info("Hotkey button 8 pressed.")}
    {% if printer.idle_timeout.state != "Printing" %}
        PREHEAT_ABS
    {% endif %}

[gcode_macro HOTKEY_BUTTON_9]
description: Hotkey Home XY
gcode:
    # {action_respond_info("Hotkey button 9 pressed.")}
        {% if printer.idle_timeout.state != "Printing" %}
        M117 Homing...
        STATUS_HOMING # set LEDs
        G28 X Y
        STATUS_READY
        M117
    {% endif %}

[gcode_macro HOTKEY_BUTTON_10]
description: Hotkey Preheat PA
gcode:
    # {action_respond_info("Hotkey button 10 pressed.")}
    {% if printer.idle_timeout.state != "Printing" %}
        PREHEAT_NYLON
    {% endif %}

[gcode_macro HOTKEY_BUTTON_11]
description: Hotkey Z Tilt Adjust
gcode:
    # {action_respond_info("Hotkey button 11 pressed.")}
    {% if printer.idle_timeout.state != "Printing" %}
        M117 Bed levelling...
        STATUS_LEVELING # set LEDs
        Z_TILT_ADJUST # run 3 point bed leveling
        STATUS_READY
        M117
    {% endif %}

[gcode_macro HOTKEY_BUTTON_12]
description: Hotkey Cooldown All
gcode:
    # {action_respond_info("Hotkey button 12 pressed.")}
    {% if printer.idle_timeout.state != "Printing" %}
        COOLDOWN
    {% endif %}

#####################################################################
#      Hotkey LED update macros
#####################################################################

# Monitoring loop. Begins at Klipper start.
[delayed_gcode HOTKEY_LED_UPDATE]
initial_duration: 1
gcode:
    UPDATE_HOTKEY_LEDS
    UPDATE_DELAYED_GCODE ID=HOTKEY_LED_UPDATE DURATION=3 # run every 3 sec

[gcode_macro UPDATE_HOTKEY_LEDS]
gcode:
    # Hotkey Pause Resume
    {% if printer.idle_timeout.state == "Printing" %} # printing
        {% if printer['pause_resume'].is_paused|int == 0 %} # not paused
            SET_LED_EFFECT EFFECT=hotkey_pause_resume_ready
        {% elif printer['pause_resume'].is_paused|int == 1 %} # paused
            SET_LED_EFFECT EFFECT=hotkey_pause_resume_paused
        {% endif %}
    {% else %} # not printing
        SET_LED_EFFECT EFFECT=hotkey_pause_resume_off
    {% endif %}
    
    # Hotkey Purge
    {% if printer.idle_timeout.state == "Printing" %} # printing
        SET_LED_EFFECT EFFECT=hotkey_purge_off
    {% else %} # not printing
        {% if printer.heater.extruder.target|int == 0 %} # extruder heater off
            SET_LED_EFFECT EFFECT=hotkey_purge_off
        {% elif printer.heater.extruder.target|int > 0 and printer.heater.extruder.can_extrude|int == 0%} # heating but not above min_extrude_temp
            SET_LED_EFFECT EFFECT=hotkey_purge_heating
        {% else %} # heating and above min_extrude_temp
            SET_LED_EFFECT EFFECT=hotkey_purge_ready
        {% endif %}
    {% endif %}

    # Hotkey Clean Nozzle
    {% if printer.idle_timeout.state == "Printing" %} # printing
        SET_LED_EFFECT EFFECT=hotkey_clean_nozzle_off
    {% else %} # not printing

    {% endif %}

    # Hotkey Move Plate Down
    {% if printer.idle_timeout.state == "Printing" %} # printing
        SET_LED_EFFECT EFFECT=hotkey_move_plate_down_off
    {% else %} # not printing

    {% endif %}

    # Hotkey Disable Steppers
    {% if printer.idle_timeout.state == "Printing" %} # printing
        SET_LED_EFFECT EFFECT=hotkey_disable_steppers_off
    {% else %} # not printing

    {% endif %}
        
    # Hotkey Bento Fan Toggle
    {% if printer['fan_generic Bento_filter'].speed|float > 0 %} # fan on
        SET_LED_EFFECT EFFECT=hotkey_bento_fan_toggle_fan_on
    {% else %} # fan off
        SET_LED_EFFECT EFFECT=hotkey_bento_fan_toggle_fan_off
    {% endif %}
        
    # Hotkey Home All
    {% if printer.idle_timeout.state == "Printing" %} # printing
        SET_LED_EFFECT EFFECT=hotkey_home_all_off
    {% else %} # not printing
        {% if "xyz" not in printer.toolhead.homed_axes %} # not homed
            SET_LED_EFFECT EFFECT=hotkey_home_all_not_homed
        {% else %} # homed 
            SET_LED_EFFECT EFFECT=hotkey_home_all_homed
        {% endif %}
    {% endif %}

    # Hotkey Preheat ABS
    {% if printer.idle_timeout.state == "Printing" %} # printing
        SET_LED_EFFECT EFFECT=hotkey_preheat_abs_off
    {% else %} # not printing
        {% if printer.heater.heater_bed.target|int == 0 %} # bed heater off
            SET_LED_EFFECT EFFECT=hotkey_preheat_abs_idle
        {% else %} # heater on
            SET_LED_EFFECT EFFECT=hotkey_preheat_abs_heating
        {% endif %}
    {% endif %}

    # Hotkey Home XY
    {% if printer.idle_timeout.state == "Printing" %} # printing
        SET_LED_EFFECT EFFECT=hotkey_home_xy_off
    {% else %} # not printing
        {% if "xy" not in printer.toolhead.homed_axes %} # not homed
            SET_LED_EFFECT EFFECT=hotkey_home_xy_not_homed
        {% else %} # homed 
            SET_LED_EFFECT EFFECT=hotkey_home_xy_homed
        {% endif %}
    {% endif %}

    # Hotkey Preheat PA
    {% if printer.idle_timeout.state == "Printing" %} # printing
        SET_LED_EFFECT EFFECT=hotkey_preheat_pa_off
    {% else %} # not printing
        {% if printer.heater.heater_bed.target|int == 0 %} # bed heater off
            SET_LED_EFFECT EFFECT=hotkey_preheat_pa_idle
        {% else %} # heater on
            SET_LED_EFFECT EFFECT=hotkey_preheat_pa_heating
        {% endif %}
    {% endif %}

    # Hotkey Z Tilt Adjust
    {% if printer.idle_timeout.state == "Printing" %} # printing
        SET_LED_EFFECT EFFECT=hotkey_z_tilt_adjust_off
    {% else %} # not printing
        {% if printer.z_tilt.applied|int == 0 %} # not applied
            SET_LED_EFFECT EFFECT=hotkey_z_tilt_adjust_not_applied
        {% else %} # applied 
            SET_LED_EFFECT EFFECT=hotkey_z_tilt_adjust_applied
        {% endif %}
    {% endif %}

    # Hotkey Cooldown All
    {% if printer.idle_timeout.state == "Printing" %} # printing
        SET_LED_EFFECT EFFECT=hotkey_cooldown_all_off
    {% else %} # not printing
        {% if printer.heater.heater_bed.target|int == 0 %} # bed heater off
            SET_LED_EFFECT EFFECT=hotkey_cooldown_all_cooling
        {% else %} # heater on
            SET_LED_EFFECT EFFECT=hotkey_cooldown_all_idle
        {% endif %}
    {% endif %}
    