#####################################################################
#      Preheat Macros
#####################################################################

[gcode_macro preheat_pla]
description: Preheat PLA
gcode:
    STATUS_HEATING # set LEDs
    M117 Preheat PLA
    M104 S170 # hotend
    M140 S60 # bed
    M141 S15 # chamber

[gcode_macro preheat_abs]
description: Preheat ABS
gcode:
    STATUS_HEATING # set LEDs
    M117 Preheat ABS
    M104 S200 # hotend
    M140 S105 # bed
    M141 S55 # chamber

[gcode_macro preheat_pc]
description: Preheat PC
gcode:
    STATUS_HEATING # set LEDs
    M117 Preheat PC
    M104 S200 # hotend
    M140 S100 # bed
    M141 S55 # chamber

[gcode_macro preheat_nylon]
description: Preheat Nylon
gcode:
    STATUS_HEATING # set LEDs
    M117 Preheat Nylon
    M104 S215 # hotend
    M140 S50 # bed
    M141 S50 # chamber

[gcode_macro preheat_tpu]
description: Preheat TPU
gcode:
    STATUS_HEATING # set LEDs
    M117 Preheat TPU
    M104 S200 # hotend
    M140 S60 # bed
    M141 S25 # chamber

[gcode_macro preheat_petg]
description: Preheat PETG
gcode:
    STATUS_HEATING # set LEDs
    M117 Preheat PETG
    M104 S200 # hotend
    M140 S75 # bed
    M141 S25 # chamber

[gcode_macro cooldown]
description: Cooldown All
gcode:
    STATUS_COOLING # set LEDs
    M117 Cooldown
    TURN_OFF_HEATERS
    M141 S0 # cool down chamber
    SET_TEMPERATURE_FAN_TARGET temperature_fan=chamber_exhaust TARGET=35 # don't have chamber fan running forever
    SET_TEMPERATURE_FAN_TARGET temperature_fan=electronics_fan TARGET=65 # set target electronics temp higher than during print (effectively turns it off, so it's not trying to spin at <10% forever)
    