# Start print gcode defined here
# In slicer, use only the following lines for start gcode:
# The M117 command forces the required KAMP data to be in the correct order
# PrusaSlicer:
# M117
# START_PRINT EXTRUDER_TEMP=[first_layer_temperature] BED_TEMP=[first_layer_bed_temperature]
# SuperSlicer:
# M117
# START_PRINT EXTRUDER_TEMP={first_layer_temperature[initial_extruder]+extruder_temperature_offset[initial_extruder]} BED_TEMP=[first_layer_bed_temperature]
# Cura:
# M117
# START_PRINT EXTRUDER_TEMP={material_print_temperature_layer_0} BED_TEMP={material_bed_temperature_layer_0}
# Orca Slicer:
# START_PRINT EXTRUDER_TEMP=[nozzle_temperature_initial_layer] BED_TEMP=[bed_temperature_initial_layer_single]
[gcode_macro START_PRINT]
variable_scanner_touch_threshold: 1750
gcode:
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|int %} # Get requested extruder temp
    {% set BED_TEMP = params.BED_TEMP|int %} # Get requested bed temp
    {% set scanner_touch_temp = 180 %} # temperature for scanner touch probe sequence
    CLEAR_PAUSE # Clears the current paused state
    UPDATE_DELAYED_GCODE ID=bento_off_delay DURATION=0 # cancel a running filter shut down delayed gcode
    M117 Heating...
    STATUS_HEATING # set LEDs
    M104 S{scanner_touch_temp} # set extruder temp for touch probe
    M190 S{BED_TEMP} # set and wait for bed temp
    SET_TEMPERATURE_FAN_TARGET temperature_fan=electronics_fan TARGET=50 # set temp target for electronics
    M117 Motion starting!
    BEEPER_ALERT # beep to indicate motion starting
    G90 # Absolute coordinates
    M117 Homing XY...
    STATUS_HOMING # set LEDs
    G28 X Y # home XY axes
    STATUS_CLEANING # set LEDs
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={150} MAXIMUM={scanner_touch_temp+5} # wait for extruder temp
    CLEAN_NOZZLE
    M117 Homing Z...
    STATUS_HOMING # set LEDs
    G28 Z # home Z axis
    M117 Bed levelling...
    STATUS_LEVELING # set LEDs
    Z_TILT_ADJUST # run 3 point bed leveling
    STATUS_CLEANING # set LEDs
    CLEAN_NOZZLE
    M117 Homing Z...
    STATUS_HOMING # set LEDs
    G28 Z # re-home Z
    M117 Meshing...
    STATUS_MESHING # set LEDs
    BED_MESH_CALIBRATE # run cartographer meshing
    STATUS_CLEANING # set LEDs
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={scanner_touch_temp-1} MAXIMUM={scanner_touch_temp+1} # wait for extruder temp
    CLEAN_NOZZLE
    M117 Scanner Touch...
    STATUS_HOMING # set LEDs
    CARTOGRAPHER_TOUCH THRESHOLD = scanner_touch_threshold # Perform touch probe
    M117 Heating...
    STATUS_HEATING # set LEDs
    M104 S{EXTRUDER_TEMP} # set extruder temp
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP-1} MAXIMUM={EXTRUDER_TEMP+1} # wait for extruder temp
    M117 Purging...
    STATUS_BUSY # set LEDs
    VORON_PURGE # run KAMP voron purge
    M117 Print starting!
    SKEW_PROFILE LOAD=CaliFlower
    STATUS_PRINTING # set LEDs
    M117
    RUN_SHELL_COMMAND CMD=print_started 
    